{% extends 'oasis/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'oasis/contact.css' %}">
{% endblock %}

{% block header %}
<div class="header-content p-5">
    <h2 class="display-2 header-heading mt-5">
        Contact Us
    </h2>
</div>
{% endblock %}
{% block bodycontent %}
    <div class="scripture-divider my-5">
        <p class="divider-title fw-bold"><i>"Let your conversation be always full of grace, seasoned with salt, so that you may know how to answer everyone"</p></i>
        <p class="divider-verse">Colossians 4:6</p>
    </div>
    <section id="contact">
        <div class="container-xl contact-container">
            <div class="contact-letterhead mt-4">
                <img src="{% static 'oasis/images/oasis-logo.png' %}" alt="">
            </div>
            <h4 class="display-4 text-center contact-title py-3">Speak to us</h4>
            <hr class="contact-hr mb-5">
            <form action="" method="post" class="px-3">
                {% csrf_token %}
                <div class="row form-block">
                    <div class="sub-block col-lg-6 px-2">
                        <label for="id_first_name">First name:</label>
                        <input type="text" name="first_name" required="" id="id_first_name">
                    </div>
                    <div class="sub-block col-lg-6 px-2">
                        <label for="id_last_name">Last name:</label>
                        <input type="text" name="last_name" required="" id="id_last_name">
                    </div>
                </div>
                <div class="row form-block">
                    <div class="sub-block col-lg-6 px-2">
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" maxlength="320" required="" id="id_email">
                    </div>
                    <div class="sub-block col-lg-6 px-2">
                        <label for="id_subject">Subject:</label>
                        <input type="text" name="subject" required="" id="id_subject">
                    </div>
                </div>
                <div class="sub-block">
                    <label for="id_message">Message:</label>
                    <textarea name="message" cols="40" rows="10" required="" id="id_message"></textarea>
                </div>
                <button type="submit" id="submit" class="px-5 py-2 my-2">Submit</button>
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-5">
                    <i class="fa-solid fa-circle-info"></i>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}