{% extends 'oasis/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'oasis/home.css' %}">
{% endblock %}


{% block header %}
    <div class="header-content p-5">
        <h2 class="display-5 header-title">Oasis of Life Family Church:</h2>
        <h2 class="display-2 header-heading mt-5">
            The church that <br>
            <span class="fade-in">loves and cares</span>
            <br>for God's people
        </h2>
    </div>
{% endblock %}
{% block bodycontent %}
    <div class="scripture-divider my-5">
        <p class="divider-title fw-bold"><i>"...For where two or three gather in my name, there am I with them."</p></i>
        <p class="divider-verse">Matthew 18:20</p>
    </div>
    <section id="welcome" class="p-5">
        <div class="welcome-container container-xl justify-content-end">
            <div class="welcome-content">
                <img src="{% static 'oasis/images/oasis-logo.png' %}" alt="" class="welcome-letterhead my-3">
                <h2 class="welcome-title">
                    Welcome to<br><span>Oasis of Life Family Church</span>
                </h2>
                <hr class="my-4">
                <p class="welcome-text px-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Similique cupiditate amet, libero aperiam esse dolorum, 
                    velit excepturi a dolorem asperiores cumque ducimus quod,
                    molestiae et provident enim modi quis distinctio.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Similique cupiditate amet, libero aperiam esse dolorum
                </p>
                <p class="welcome-writers">Apostle I.N Sithole and Prophet S.H Sithole</p>
            </div>
        </div>
    </section>
    <section id="values">
        <div class="values-container container-xl">
            <div class="values-header my-5">
                <img src="{% static 'oasis/images/oasis-logo.png' %}" alt="" class="welcome-letterhead my-3">
                <h1 class="display-3 values-heading">Our Values</h1>
                <hr class="my-5">
            </div>
            <div class="row values-row">
                <div class="value-column col-lg-4">
                    <div class="card value-card justify-content-center">
                        <h5 class="value-title mt-3">Belong</h5>
                        <hr class="my-2">
                        <p class="value-text px-5">
                            We believe our utmost desire is to get 
                            the people of God to belong irrespective of 
                            where and who they are, what class and or 
                            status they bare.
                        </p>
                    </div>
                </div>
                <div class="value-column col-lg-4">
                    <div class="card value-card justify-content-center">
                        <h5 class="value-title mt-3">Believe</h5>
                        <hr class="my-2">
                        <p class="value-text px-5">
                            That when the people of God know and 
                            understand the vision and mission, will 
                            be willing to fulfil the mandate given 
                            to the local church.
                        </p>
                    </div>
                </div>
                <div class="value-column col-lg-4">
                    <div class="card value-card justify-content-center">
                        <h5 class="value-title mt-3">Behave</h5>
                        <hr class="my-2">
                        <p class="value-text px-5">
                            We believe that when people embrace the 
                            vision and mission they will be taught 
                            how to behave and follow the doctrine 
                            of Christ.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}